= "还原redis数据库:#{$message}"
%p
.flush{:style => 'margin-bottom:20px'}
  %a{:href => '/flushdb'} 还原
.i_creatives{:style => 'margin-bottom:20pxl '}
  %a{:href => '/redis_move/ACTIVE_CREATIVES',:style => 'text-decoration:none'} 获取执行中的推广计划_____________(ACTIVE_CREATIVES)
.i_getFix{:style => 'margin-bottom:20px'}
%a{:href => '/redis_move/FIX_CREATIVES' ,:style => 'text-decoration:none'} 获取Fix推广计划_______________________(FIX_CREATIVES)
.i_getFix{:style => 'margin-bottom:20px'}
%a{:href => '/redis_move/RATIO_CREATIVES' ,:style => 'text-decoration:none'} 获取Ratio推广计划__________________(RATIO_CREATIVES)
.i_getFix{:style => 'margin-bottom:20px'}
%a{:href => '/redis_move/CPM_CREATIVES' ,:style => 'text-decoration:none'} 获取CPM推广计划___________________(CPM_CREATIVES)
.i_getFix{:style => 'margin-bottom:20px'}
%a{:href => '/redis_move/BACKFILL_CREATIVES' ,:style => 'text-decoration:none'} 获取Backfill推广计划______________(BACKFILL_CREATVES)
.i_getFix{:style => 'margin-bottom:20px'}
%a{:href => '/redis_move/LOCATION_CREATIVES' ,:style => 'text-decoration:none'} 获取全部城市下推广计划数据______(LOCATION_CREATIVES)
.i_getFix{:style => 'margin-bottom:20px'}
%a{:href => '/redis_move/CREATIVE_INFO' ,:style => 'text-decoration:none'} 获取CREATIVE_INFO信息_______________(CREATIVE_INFO)
.i_getFix{:style => 'margin-bottom:20px'}
%a{:href => '/redis_move/ASSET_INFO' ,:style => 'text-decoration:none'} 素材信息________________________________(ASSET_INFO)




